In [ ]:
#Classification Predictive Model
#K-Neighbours Classifier 
#step-1) IMPORT LIBRARY
import pandas as pd

In [ ]:
# Step-2) import data
fish =pd.read_csv('/content/Fish.csv')

In [ ]:
fish.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [ ]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [ ]:
fish.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [ ]:
fish.size

1113

In [ ]:
# step-3) define y and x
fish.columns

Index(['Species', 'Weight', 'Length1', 'Length2', 'Length3', 'Height',
       'Width'],
      dtype='object')

In [ ]:
y = fish['Species']

In [ ]:
X = fish[['Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3']]

In [ ]:
# Step 4 : train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2529)

In [ ]:
# check shape of train and test sample
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((111, 6), (48, 6), (111,), (48,))

In [ ]:
# Step 5 : select model
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [ ]:
# Step 6 : train or fit model
model.fit(X_train,y_train)

KNeighborsClassifier()

In [ ]:
# Step 7 : predict model
y_pred=model.predict(X_test)

In [ ]:
# Step 8 : model accuracy
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
accuracy_score(y_test,y_pred)

0.5

In [ ]:
confusion_matrix(y_test,y_pred)

array([[ 7,  1,  0,  3,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0],
       [ 6,  0, 10,  1,  0,  0,  0],
       [ 3,  2,  0,  0,  0,  0,  0],
       [ 1,  1,  4,  0,  1,  0,  0],
       [ 0,  0,  0,  0,  0,  6,  0],
       [ 0,  1,  0,  0,  0,  0,  0]])

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       Bream       0.41      0.64      0.50        11
      Parkki       0.00      0.00      0.00         1
       Perch       0.67      0.59      0.62        17
        Pike       0.00      0.00      0.00         5
       Roach       1.00      0.14      0.25         7
       Smelt       1.00      1.00      1.00         6
   Whitefish       0.00      0.00      0.00         1

    accuracy                           0.50        48
   macro avg       0.44      0.34      0.34        48
weighted avg       0.60      0.50      0.50        48

/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.8/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))